canvas {
    border: 1px solid black;
    background: url("../img/pattern.jpg");
}

.highscores {
    margin: 0;
    font-size: 12px;
    color: #26802e;
    padding: 0;
    list-style-position: inside;
}